/* 
Denim	#1659c2	Primary
Mirage	#1c1f34	Info
Ocean Green	#3c9572	Success
Copper	#b9853a	Warning
Pomegranate	#f44336	Danger
white #f8f6f4; 
*/
$primary: #1659c2;
$info: #1c1f34;
$success: #3c9572;
$warning: #b9853a;
$danger: #f44336;
$white:#f8f6f4;
body {
  margin: 0;
}

.Address {
  background-color: $primary;
  width: 100%;
  color: $white;
  padding: 10px;
  align-items: center;
}
.carousel-item{
  max-height: 500px;
}
.card-header, .card-title{
  text-align: center;
  color: $primary;
}
.card{
  margin: auto;
  border: none;
}
footer{
  text-align: center;
  color: $white;
  background-color: $primary;
  padding: 20px;
}
footer a{
  color: $white;
  text-transform: uppercase;
}
