/* 
Denim	#1659c2	Primary
Mirage	#1c1f34	Info
Ocean Green	#3c9572	Success
Copper	#b9853a	Warning
Pomegranate	#f44336	Danger
white #f8f6f4; 
*/

body {
  margin: 0;
}

.Address {
  background-color: #0056b3;
  width: 100%;
  color: #f8f6f4;
  padding: 10px;
}
